html {
    box-sizing: border-box;
    font-size: 100%;;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 30px;
        padding-right: 30px;

        .logo {
            padding-left: 90px;
            padding-top: 5px;
            color: $white;
            h1 a {
                text-decoration: none;
                color: $white;
            }
        }
        ul {
            align-items: center;
            display: flex;
            list-style: none;
            padding-left: 10%;
     
            li {
                padding-left: 25px;
                padding-right: 10px;
                a, button {
                    color: $white;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 200;
                }

                button {
                    background-color: $light_green;
                    padding: 10px 10px;
                    color: $white;
                    border: 0;
                    border-radius: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    .tag-line{
        width: 50%;
        color: $white;
        padding-left: 50px;
        padding-top: 50px;
    }
}

.about-us {
    padding-left: 30px;
    
        .wrapper {
            border: 3px solid;
            width: 60%;
            margin: auto;
            padding-top: 10px;
            .testimonials {
                padding-top: 15px;
                padding-bottom: 15px;
                font-style: italic;
                text-align: center;
            }
        }
}

.package-links-before {
    padding-top: 20px;
    padding-left: 30px;
    font-weight: bold;
    text-align: center;
}

.package-links {
    padding-left: 30px;
    padding-right: 30px;
    ul {
        display: flex;
        justify-content: center;
        
    }
    ul li {
        list-style: none;
        margin: 50px;
        padding: 10px;
        background-color: $light_green;
        border-radius: 7px;
    }
    ul li a {
        text-decoration: none;
        color: $black;
        font-size: 20px;
    }
}

.footer {
    background-color: gray;
    padding: 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        color: $white;
        text-decoration: none;
        font-size: 50px;
        margin-bottom: 30px;
    }

    &__socials {
        padding-left: 50px;
        img {
            height: 50px;
            width: 50px;
            padding: 10px;
        }
    }
    &__cta {
        .button {
            font-size: 20px;
            background-color: $light_green;
            padding: 10px 10px;
            color: $white;
            border: 0;
            border-radius: 15px;
            cursor: pointer;
            margin-bottom: 20px;
            margin-right: 50px;
        }
       
    }
    &__copy {
        //margin-left: 1600px;
    }
}

.button {
    font-size: 20px;
    background-color: $light_green;
    padding: 10px 10px;
    color: $white;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

table, th, td {
    border:2px solid black;
    border-collapse:collapse;
}
th, td {
    padding:10px;
}
th {
    text-align:center;
}
table {
    height:100px;
    width:900px;
}

tc.h1 { 
    background-color: rgb(150, 60, 120);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .tc_head {
    background-color: yellowgreen;  
    font-family: cursive;
  }
  
  .tc_main {
    color: rgb(15, 37, 236);
  }
  
  #RED {
    text-align:center;
    color: red;
  }
  
  #left {
    text-align: left;
  }
  

input[type=submit],input[type=reset] {
    font-size: 20px;
    background-color:#05d69b;
    padding: 10px 10px;
    color:#ffffff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

fieldset{
background:#edeeff;
border:2px solid black;
-moz-border-radius:8px;
-webkit-border-radius:8px; 
border-radius:8px; 
}

// Helper Classes

.header_gradient {
    margin: 0 auto;
    width: 100%;
    background: rgb(11,4,115);
    background: linear-gradient(90deg, rgba(11,4,115,1) 29%, rgba(9,9,121,1) 68%, rgba(4,11,131,1) 69%, rgba(9,107,186,1) 100%); 
    height: 320px;
}

.header_gradient_subpages {
    margin: 0 auto;
    width: 100%;
    background: rgb(11,4,115);
    background: linear-gradient(90deg, rgba(11,4,115,1) 29%, rgba(9,9,121,1) 68%, rgba(4,11,131,1) 69%, rgba(9,107,186,1) 100%); 
    height: 100px;
}